* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 165px;
    margin-left: -232px;
    border-radius: 10px;
    left: 124px;
    position: relative;
    width: 180px;
    bottom: 14px;
}

nav img {
    position: relative;
    left: 59px;
}

#sideMenu {
    margin-top: 1px;
    margin-right: 3px;
}

nav ul {
    position: relative;
    top: -28px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 18px;
    padding: 5px
}

nav ul li a::after {
    content: " ";
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.photo {
    position: relative;
    left: 825px;
    top: -49px;
    width: 550px;
    height: 536px;
    border-radius: 24px;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text p {
    position: relative;
    top: -760px;
    left: -55px;
}

.header-text h1 {
    font-size: 60px;
    position: relative;
    top: -742px;
    left: -55px;
}

.header-text .intro-text {
    font-size: 23px;
    margin-top: 30px;
    line-height: 1.6;
    color: #fff;
    max-width: 812px;
}

.header-text h1 span {
    color: #ff004f;
}

/* ABOUt */
#about {
    padding: -16px 0px;
    color: #ababab;
    position: relative;
    top: 60px;
}

.about-col-1 img {
    position: relative;
    border-radius: 10px;
    height: 639px;
    top: 57px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
}

.about-col-1 img {
    width: 90%;
    border-radius: 15px;
    height: 395px;
    top: 160px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    font-size: 22px;
    margin: 10px 0px;
    display: flex;
    text-align: justify;
    line-height: 1.5;
}

.about-col-1 img {
    position: relative;
    height: 655px;
    top: 80px;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
}

/* TAB LINKS */
.tab-title {
    display: flex;
    margin: 20px 0 40px;

}

.tab-title p {
    font-size: 28px;
    margin-right: 34px
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: " ";
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

/* TAB CONTENTS */
.tab-contents ul li {
    list-style: none;
    margin: 17px 0px;
    font-size: 20px;
    line-height: 1.3;
}

.tab-contents ul li span {
    color: #c03964;
    font-size: 25px;
    font-weight: 700;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

tab-contents li {
    font-size: 25px;
}

/* PROJECTS */
#services {
    padding: 30px 0;
    position: relative;
    top: 35px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background: #262622;
    padding: 40px;
    font-size: 18px;
    font-weight: 350;
    border-radius: 20px;
    word-spacing: 5px;
    text-align: justify;
    transition: transform 0.8sec;
}

.service-list div a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    display: inline-block;
    margin-top: 7px;
}

.service-list div p {
    font-weight: 350;
    border-radius: 20px;
    text-align: justify;
    margin-top: 15px;
    line-height: 1.5;
}

.service-list div h2 {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
}

.service-list div i {
    font-size: 50px;
}

.service-list div:hover {
    background-color: #ff004f;
    transform: translateY(-20px);
}

/* PORTFOILO */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.work img {
    display: block;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.work:hover img {
    transform: scale(1.3);
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: 180px;
    border: 2px solid #ff004f;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 300;
    background-color: black;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.newBtn {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    width: 140px;
    padding: 5px;
    top: -20px;
    position: relative;
}

/* CONTACT */

#contact {
    top: -131px;
    position: relative;
}

.contact-left {
    flex-basis: 100%;
}

.contact-left p {
    margin: 29px 0;
    font-size: 27px;
}

.contact-left {
    top: -44px;
    position: relative;
    padding: 2px;
}

.contact-left p i {
    margin-right: 15px;
    font-size: 25px;
    color: #ff004f;
    transition: transform 0.5s;
}

.contact-left p i:hover {
    transform: translateY(-10px);
    font-size: 30px;
}

.contact-right {
    flex-basis: 60%;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    color: #ababab;
    margin-right: 15px;
    font-size: 30px;
    transition: transform 0.8s;
}

.social-icons a:hover {
    transform: translateY(-10px);
    color: #ff004f;
    font-size: 35px;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    text-decoration: none;
    margin: 30px auto;
    width: 270px;
    border: 2px solid #ff004f;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 300;
    background-color: black;
    color: white;
    padding: 10px;
    transition: background 0.5s;
    text-align: center;
    word-spacing: 10px;
    position: relative;
    top: 21px
}

.btn.btn2:hover {
    background: #ff004f;
}

.content-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262622;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
}

input::placeholder,
textarea::placeholder {
    font-size: 25px;
    font-weight: 500;
    color: #ff004f;
}

.btn3 {
    padding: 14px, 60px;
    font-size: 28px;
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
}

/* COPY RIGHT */
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262622;
    font-weight: 300;
    margin-top: 20px;
    font-size: 20px;
    word-spacing: 10px;
    top: 130px;
    position: relative;
}

.copyright i.heart {
    color: #ff004f;
}

nav .cross {
    display: none;

}

#msg {
    display: block;
    color: #61b752;
    margin-top: -40px;
}

.about-col-1 p {
    font-size: 28px;
}

/* CSS MEDIA QUERY */
/* @media only screen and (max-width: 600px) {

    .photo {
        left: -20px;
        margin-bottom: 1px;
        margin-top: 37px;
        height: 447px;
    }

    .header-text {
        top: 477px;
        position: relative;
    }

    .header-text h1 {
        top: -547px;
        font-size: 26px;
        line-height: 1.5;
        left: -8px;
    }
    .header-text h1 br{
        display: none;
    }
    .header-text p {
        font-size: 23px;
        left: -12px;
        margin-bottom: 13px;
        line-height: 1.5;
    }

    nav .cross {
        display: block;
        font-size: 25px;
        position: relative;
        top: -42px;
    }

    nav .cross-1 {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .cross-1 {
        position: absolute;
        top: 25px;
        left: 50px;
        cursor: pointer;
    }

    .subtitle {
        position: relative;
        font-size: 40px;
        
    }

    .about-col-1 {
        flex-basis: 100%;  
    }

    .about-col-2 {
        flex-basis: 100%;
        font-size: 14px;
        position: relative;
        top: 194px;
    }
    .myAbout{
        left: 40px;
    }
    .about-col-2 .about{
        margin: 0px 17px;
        padding: 4px;

    }
    .tab-title {
        position: relative;
        top: 6px
    }
    .tab-title p{
        margin: 0px 12px;
    }
    .tab-contents ul {
        position: relative;
        top: 0px;
        bottom: 10px;
        margin: 10px 5px;
    }
    .tab-contents ul li{
        margin: 17px 10px;
    }
    .service-container {
        top: 79px;
        position: relative;
    }

    .portfolio-container{
        top: 20px;
        position: relative;
    }

    .contact-container{
        position: relative;
        top: -51px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .row {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-left p{
        font-size: 18px;
    }

    .contact-right {
        margin-top: 15px;
        flex-basis: 100%;
    }

    p .email {
        font-size: 18px;
    }

    .copyright {
        font-size: 14px;
        width: 100%;
    }
} */

/* Ensure overall container padding is responsive */
.container {
    padding: 10px 5%;
}

/* Adjust nav styles for smaller screens */
/* nav ul li a {
    font-size: 18px;
    margin: 5px 5px;
    padding: 5px;
} */

/* Adjust image and text sizes for smaller screens */
@media (max-width: 768px) {
    .photo {
        left: 50px;
        top: -20px;
        width: 100%;
        height: auto;
    }

    .header-text {
        font-size: 20px;
        margin-top: 10%;
    }

    .header-text h1 {
        font-size: 40px;
        top: -30px;
        left: -10px;
    }

    .header-text p {
        top: -40px;
        left: -10px;
    }

    .about-col-1 img {
        width: 100%;
        height: auto;
        top: 0;
    }

    .about-col-2 p {
        font-size: 18px;
        text-align: left;
    }

    .subtitle {
        font-size: 40px;
        font-size: 32px;
        position: relative;
        top: -7px;
    }

    .tab-title p {
        font-size: 20px;
        margin-right: 20px;
    }

    nav .cross {
        display: block;
        font-size: 25px;
        position: relative;
        top: -20px;
        left: -8px;
    }

    nav .cross-1 {
        display: block;
        font-size: 25px;
    }

    nav ul .cross-1 {
        position: absolute;
        top: 25px;
        left: 50px;
        cursor: pointer;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav img {
        width: 10px;
        height: 10px;
    }

    nav .logo {
        height: 139px;
        margin-left: -154px;
        border-radius: 10px;
        left: 124px;
        position: relative;
        width: 151px;
        bottom: 14px;
    }

    .contact-left p {
        margin: 29px 0;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .photo {
        left: 20px;
        width: 90%;
    }

    .header-text {
        font-size: 16px;
        margin-top: 5%;
    }

    .header-text h1 {
        font-size: 30px;
        top: -0px;
        left: 5px;
    }

    .header-text h1 br {
        display: none;
    }

    .header-text p {
        top: -18px;
        left: 5px;
        font-size: 20px;
        line-height: 1.5;
    }

    .about-col-1 img {
        height: auto;
        top: 0;
    }

    .about-col-2 p {
        font-size: 19px;
        text-align: justify;
        padding: 3px;
        position: relative;
        top: 18px
    }

    .subtitle {
        font-size: 30px;
        font-size: 30px;
        left: 10px;
    }

    .tab-title p {
        font-size: 22px;
    }

    .row {
        flex-wrap: wrap;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
        text-align: left;
        margin: 20px 2px;
    }

    .service-list,
    .work-list {
        grid-template-columns: 1fr;
    }

    form input {
        width: 304px;
    }

    nav .cross {
        display: block;
        font-size: 25px;
        position: relative;
        top: -20px;
        left: -8px;
    }

    nav .cross-1 {
        display: block;
        font-size: 25px;
    }

    nav ul .cross-1 {
        position: absolute;
        top: 25px;
        left: 50px;
        cursor: pointer;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav .logo {
        height: 139px;
        margin-left: -154px;
        border-radius: 10px;
        left: 124px;
        position: relative;
        width: 151px;
        bottom: 14px;
    }

    .contact-left p {
        margin: 29px 0;
        font-size: 20px;
    }

    :placeholder-shown {
        font-size: 5px;
    }

}

.second-projects {
    top: -110px;
    position: relative;
}